<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Protect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="danger" expand="block" routerLink="/menu/second/details" routerDirection="forward" (click)="sendTextMessage()">
    I'm feeling unsafe
  </ion-button>
</ion-content>

<ion-content padding>
  <ion-button color="danger" expand="block" (click)="test()">
    Test
  </ion-button>
</ion-content>
 