<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Emergency contact 1</ion-card-subtitle>
      <ion-card-title>Vandana Kudalkar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <b>email:</b> v@gmail.com<br>
      <b>phone number:</b> 9987528254
    </ion-card-content>
  </ion-card>
</ion-content>