<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center *ngIf="GuardianList">
  <ion-card *ngFor='let gl of GuardianList;index as i'>
    <ion-card-header>
      <ion-card-subtitle>Emergency contact {{i+1}}</ion-card-subtitle>
      <ion-card-title>{{GuardianList[i].Name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <b>Email:</b> {{GuardianList[i].Email}}<br>
      <b>Phone Number:</b> {{GuardianList[i].PhoneNumber}}
    </ion-card-content>
  </ion-card>
</ion-content>